<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ the_title }}</title>
</head>

<body>

  
  <div id="container">
    
    <h1>{{ the_title }}</h1>

    <ul>
      <li><a href="{{ url_for('schedule') }}">Schedule</a></li>
      <li><a href="{{ url_for('contractor') }}">Contractors</a></li>
      <li><a href="{{ url_for('index') }}">Dashboard</a></li>
    </ul>
    
    {% block body %}
 
    
    {% endblock %}
    

  </div>
  
</body>
</html>
